GEMINI_API_KEY=
CONTACT_EMAIL_API_KEY=
NEXT_PUBLIC_COMPANY_ADDRESS=
NEXT_PUBLIC_COMPANY_EMAIL=
NEXT_PUBLIC_COMPANY_NAME=
NEXT_PUBLIC_COMPANY_PHONE=
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_LINKEDIN_PARTNER_ID=
NEXT_PUBLIC_LINKEDIN_URL=
NEXT_PUBLIC_MAP_EMBED_URL=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_WHATSAPP_URL=
NEXT_PUBLIC_X_URL=
NEXT_PUBLIC_YOUTUBE_URL=